In [3]:
# Map : 

# Function :
def sqaure(num):
    return num**2 

# iterable :
numbers = [1,2,3,4,5,6]

# MapFunction ; 
list(map(sqaure , numbers))

[1, 4, 9, 16, 25, 36]

In [4]:
numbers = [1,2,3,4,5,6]

list(map(lambda x:x**2 , numbers))

[1, 4, 9, 16, 25, 36]

In [5]:
# Map multiple iterables :
num1 = [1,2,3]
num2 = [4,5,6]

addNumbers = list(map(lambda a,b: a+b , num1 , num2))
print(addNumbers)

[5, 7, 9]

In [6]:
## map() to convert a list of string to int 
str_numbers = ['1' ,'2' , '3' , '4']
int_numbers = list(map(lambda x : int(x) , str_numbers))

print(int_numbers)

[1, 2, 3, 4]

In [9]:
# In-Built : 
words= ['apple' , 'banana' , 'cherry'] 
upper_words = list(map(lambda x: x.upper(), words) )

print(upper_words)

['APPLE', 'BANANA', 'CHERRY']

In [10]:
def get_name(person):
    return person['name'] 

people=[
    {'name': 'ravendra' , 'age':21},
    {'name': 'jack' , 'age':33}
]

list(map(get_name , people))

['ravendra', 'jack']